/* Site Geral */

body {margin:0;
    background-color: rgb(255, 255, 255);
    }
    
/* Navegador */
    
    nav {
      padding: 8px;
    }
    
    nav ul {
      float: left;
      position: fixed;
    }
    
    nav ul li {
      display: inline-block;
    }

    nav ul li #dgm {
        text-align: right;
    }
    
    nav ul li:not(:first-child) {
      margin-left: 48px;
    }
    
    nav ul li:last-child {
      margin-right: 24px;
    }
    
    nav ul li a {
      display: inline-block;
      outline: none;
      color: rgb(0, 0, 0);
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 1.2px;
    }

    @media screen and (max-width: 864px) {

      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: rgb(255, 255, 255);
            opacity: 0;
            transition: all 0.2s ease;
      }
    
      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
            width: 0%;
      }
    
      .nav-wrapper ul li {
            display: block;
            float: none;
            text-align: center;
            margin-bottom: 10px;
      }
    
      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }
    
      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }
    
      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }
    
      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }
    
      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }
    
      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: rgb(82, 82, 82);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }
    
      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }
    
      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: rgb(83, 83, 83);
            border-radius: 2px;
            margin-left: 14px;
      }
    
      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }
    
      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }
    
      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
    }
    
    #nav:checked + .nav-btn {
      transform: rotate(45deg);
    }
    
    #nav:checked + .nav-btn i {
      background: rgb(116, 116, 116);
      transition: transform 0.2s ease;
    }
    
    #nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
    }
    
    #nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
    }
    
    #nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
    }
    
    #nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
    }
    
    #nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
    }
    
    .hidden {
      display: none;
    }

    /* Expo Página Principal */

    body, html{
      margin: 0;
      background: #2b2927;
      font-family: 'Poppins', sans-serif;
    }
    h1{
      text-align: center;
      color:white;
    }
    .container-all{
      width: fit-content;
      margin: 20px auto;
      height: auto;
    }
    .container{
      width: calc(33% - 6px);
      overflow:hidden;
      height: fit-content;
      margin:3px;
      padding: 0;
      display:block;
      position:relative;
      float:left;
    }
    img{
      width: 100%;
      transition-duration: .3s;
      max-width: 100%;
      display:block;
      overflow:hidden;
      cursor:pointer;
    }
    .title{
      position:absolute;
      display:block;
      cursor:pointer;
      top: 35%;
      display: none;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-size: 1.6em;
      text-shadow: 1px 5px 10px black;
      transition-duration: .3s;
    }
    .text{
      position:absolute;
      top: 70%;
      cursor:pointer;
      max-width: 80%;
      text-align:center;
      left: 50%;
      text-shadow: 1px 5px 10px black;
      font-size: 1em;
      display:none;
      margin-right: -50%;
      transition-duration: .3s;
      transform: translate(-50%, -50%) 
    }
    .container:hover img{
      transform: scale(1.2);
      transition-duration: .3s;
      filter: grayscale(50%);
      opacity: .7;
    }
    .container:hover span{
      color:white;
      display: block;
      transition-duration: .3s;
    }
    @media only screen and (max-width: 900px) {
        .container {
            width: calc(50% - 6px);
        }
    }
    @media only screen and (max-width: 400px) {
        .container {
            width: 100%;
        }
    }